Repository micronaut-projects/micronaut-kafka, pull requests merged in 2023-08, with the labels that each got.

#789 Introduce `ErrorStrategy.retryCountValue` to allow for dynamic config
  kafka/src/main/java/io/micronaut/configuration/kafka/annotation/ErrorStrategy.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/errors/KafkaErrorStrategySpec.groovy
  src/main/docs/guide/kafkaListener/kafkaErrors.adoc
Labels: type: improvement

#769 Introduce `KafkaListener.threadsValue` to allow for dynamic config
  kafka/src/main/java/io/micronaut/configuration/kafka/annotation/KafkaListener.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/annotation/KafkaListenerSpec.groovy
  src/main/docs/guide/kafkaListener.adoc
Labels: type: improvement

#677 Publish events after Consumer subscribes and after first polling
  kafka-streams/src/main/java/io/micronaut/configuration/kafka/streams/event/AbstractKafkaStreamsEvent.java
  kafka/src/main/java/io/micronaut/configuration/kafka/event/AbstractKafkaApplicationEvent.java
  kafka/src/main/java/io/micronaut/configuration/kafka/event/KafkaConsumerStartedPollingEvent.java
  kafka/src/main/java/io/micronaut/configuration/kafka/event/KafkaConsumerSubscribedEvent.java
  kafka/src/main/java/io/micronaut/configuration/kafka/processor/KafkaConsumerProcessor.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/event/KafkaConsumerEventSpec.groovy
Labels: type: enhancement

#814 Fix outdated documentation for Kafka batch listeners
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/batch/BookListener.java
  src/main/docs/guide/kafkaListener/kafkaListenerBatch.adoc
Labels: type: docs

#633 Missing @Singleton
  kafka/src/test/groovy/docs/producer/fallback/MessageClient.java
  kafka/src/test/groovy/docs/producer/fallback/MessageClientFallback.java
  kafka/src/test/groovy/docs/producer/fallback/MessageClientFallbackSpec.groovy
  src/main/docs/guide/kafkaApplications/kafkaDisabled.adoc
Labels: type: docs

#813 Decorate user-provided instances of `ProducerRecord`, instead of using them as a raw values
  kafka/src/main/java/io/micronaut/configuration/kafka/intercept/KafkaClientIntroductionAdvice.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/annotation/KafkaProducerSpec.groovy
Labels: type: improvement

#818 Multi-language documentation for fallback example
  src/main/docs/guide/kafkaApplications/kafkaDisabled.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/fallback/MessageClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/fallback/MessageClientFallback.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/fallback/MessageClientFallbackSpec.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/fallback/MessageClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/fallback/MessageClientFallback.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/fallback/MessageClientFallbackTest.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/fallback/MessageClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/fallback/MessageClientFallback.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/fallback/MessageClientFallbackTest.java
Labels: type: docs

#810 Restrict AdminClient permission for KafkaHealthIndicator
  kafka/src/main/java/io/micronaut/configuration/kafka/admin/AdminClientFactory.java
  kafka/src/main/java/io/micronaut/configuration/kafka/config/AbstractKafkaConfiguration.java
  kafka/src/main/java/io/micronaut/configuration/kafka/config/KafkaHealthConfiguration.java
  kafka/src/main/java/io/micronaut/configuration/kafka/config/KafkaHealthConfigurationProperties.java
  kafka/src/main/java/io/micronaut/configuration/kafka/health/DefaultNetworkClientCreator.java
  kafka/src/main/java/io/micronaut/configuration/kafka/health/KafkaHealthIndicator.java
  kafka/src/main/java/io/micronaut/configuration/kafka/health/NetworkClientCreator.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/health/KafkaHealthIndicatorSpec.groovy
  kafka/src/test/groovy/io/micronaut/configuration/kafka/health/RestrictedKafkaHealthIndicatorSpec.groovy
  src/main/docs/guide/kafkaApplications/kafkaHealth.adoc
Labels: type: enhancement

#821 Avoid log pollution while waiting for consumer to close
  kafka/src/main/java/io/micronaut/configuration/kafka/processor/KafkaConsumerProcessor.java
  kafka/src/test/resources/logback.xml
Labels: type: improvement

#820 Multi-language documentation for Committing Offsets Manually with Batch example
  src/main/docs/guide/kafkaListener/kafkaListenerBatch.adoc
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/batch/Book.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/batch/BookListener.groovy
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/batch/Book.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/batch/BookListener.kt
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/batch/Book.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/batch/BookListener.java
Labels: type: docs

#822 Multi-language documentation for Quickstart example
  buildSrc/src/main/groovy/io.micronaut.internal.build.kafka-testsuite.gradle
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/DocTests.java
  src/main/docs/guide/kafkaQuickStart.adoc
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/AbstractKafkaTest.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/fallback/MessageClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/quickstart/ProductClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/quickstart/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/quickstart/QuickStartTest.groovy
  test-suite-groovy/src/test/resources/logback.xml
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/AbstractKafkaTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/fallback/MessageClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/ProductClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/QuickstartTest.kt
  test-suite-kotlin/src/test/resources/logback.xml
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/AbstractKafkaTest.java
  test-suite/src/test/java/io/micronaut/kafka/docs/quickstart/ProductClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/quickstart/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/quickstart/QuickstartTest.java
  test-suite/src/test/resources/logback.xml
Labels: type: docs

#761 Allow to commit offset in case of deserialization errors
  kafka/src/main/java/io/micronaut/configuration/kafka/config/DefaultKafkaListenerExceptionHandlerConfiguration.java
  kafka/src/main/java/io/micronaut/configuration/kafka/config/DefaultKafkaListenerExceptionHandlerConfigurationProperties.java
  kafka/src/main/java/io/micronaut/configuration/kafka/exceptions/DefaultKafkaListenerExceptionHandler.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/exceptions/DefaultKafkaListenerExceptionHandlerSpec.groovy
  src/main/docs/guide/kafkaListener/kafkaErrors.adoc
Labels: type: improvement

#825 Fixing test-suite docs examples to use test-resources
  buildSrc/src/main/groovy/io.micronaut.internal.build.kafka-testsuite.gradle
  gradle/libs.versions.toml
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/quickstart/QuickStartTest.groovy
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/AbstractKafkaTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/MyTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/QuickstartTest.kt
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/AbstractKafkaTest.java
  test-suite/src/test/java/io/micronaut/kafka/docs/MyTest.java
  test-suite/src/test/java/io/micronaut/kafka/docs/quickstart/QuickstartTest.java
Labels: type: docs

#829 Multi-language documentation for Declaring KafkaClient Headers example
  src/main/docs/guide/kafkaClient/kafkaClientMethods.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/headers/ProductClient.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/headers/ProductClient.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/headers/ProductClient.java
Labels: type: docs

#826 Multi-language documentation for Injecting Kafka Producer Beans example
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/producer/inject/BookSenderTest.java
  src/main/docs/guide/kafkaClient/kafkaClientScope.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/inject/Book.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/inject/BookSender.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/inject/BookSenderTest.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/inject/Book.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/inject/BookSender.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/inject/BookSenderTest.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/inject/Book.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/inject/BookSender.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/inject/BookSenderTest.java
Labels: type: docs

#828 Multi-language documentation for Configuring Producer Properties example
  src/main/docs/guide/kafkaClient/kafkaClientConfiguration.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/config/ProductClient.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/config/ProductClient.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/config/ProductClient.java
Labels: type: docs

#834 Multi-language docs examples for client batch examples (part 2)
  kafka/build.gradle
  src/main/docs/guide/kafkaClient/kafkaClientBatch.adoc
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/batch/BookClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/batch/BookListener.groovy
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/batch/BookClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/batch/BookListener.kt
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/batch/BookClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/batch/BookListener.java
Labels: type: docs

#833 Multi-language docs examples for Specifying error strategies
  src/main/docs/guide/kafkaListener/kafkaErrors.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/errors/ExceptionProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/errors/RetryProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/errors/StrategyProductListener.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/errors/ExceptionProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/errors/RetryProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/errors/StrategyProductListener.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/errors/ExceptionProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/errors/RetryProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/errors/StrategyProductListener.java
Labels: type: docs

#836 Multi-language docs examples for client configuration and method examples
  src/main/docs/guide/kafkaClient/kafkaClientConfiguration.adoc
  src/main/docs/guide/kafkaClient/kafkaClientMethods.adoc
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/config/ClientIdClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/methods/Book.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/methods/BookClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/producer/methods/ProductClient.groovy
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/config/ClientIdClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/methods/Book.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/methods/BookClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/methods/ProductClient.kt
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/config/ClientIdClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/methods/Book.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/methods/BookClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/producer/methods/ProductClient.java
Labels: type: docs

#835 Multi-language docs examples for Manually Committing Offsets examples
  src/main/docs/guide/kafkaListener/kafkaOffsets.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/offsets/ack/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/offsets/manual/ProductListener.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/offsets/ack/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/offsets/manual/ProductListener.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/offsets/ack/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/offsets/manual/ProductListener.java
Labels: type: docs

#837 Multi-language docs examples for listener thread configuration
  src/main/docs/guide/kafkaListener.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/threads/DynamicThreadsListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/threads/ScalingThreadsListener.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/threads/DynamicThreadsListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/threads/ScalingThreadsListener.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/threads/DynamicThreadsListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/threads/ScalingThreadsListener.java
Labels: type: docs

#780 Support for setting uncaught exception handler
  kafka-streams/src/main/java/io/micronaut/configuration/kafka/streams/KafkaStreamsFactory.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/CustomUncaughtHandlerSpec.groovy
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/KafkaStreamsFactorySpec.groovy
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/KafkaTestInitializer.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/UncaughtExceptionsSpec.groovy
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/CustomUncaughtHandlerStreamFactory.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/MyStreamsUncaughtExceptionHandler.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/OnErrorNoConfigClient.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/OnErrorNoConfigListener.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/OnErrorReplaceClient.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/OnErrorReplaceListener.java
  kafka-streams/src/test/groovy/io/micronaut/configuration/kafka/streams/uncaught/OnErrorStreamFactory.java
  src/main/docs/guide/kafkaStreams/kafkaStreamExceptions.adoc
  src/main/docs/guide/toc.yml
Labels: type: enhancement

#827 Multi-language documentation for Forwarding Messages with @SendTo example
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/sendto/ProductListener.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/sendto/WordCounter.java
  src/main/docs/guide/kafkaListener/kafkaSendTo.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/ProductClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/QuantityListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/SendToProductListenerTest.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/WordCountListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/WordCounter.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/WordCounterClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/sendto/WordCounterTest.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/ProductClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/QuantityListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/SendToProductListenerTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCountListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCounter.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCounterClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCounterTest.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/ProductClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/QuantityListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/SendToProductListenerTest.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/WordCountListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/WordCounter.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/WordCounterClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/sendto/WordCounterTest.java
  test-suite/src/test/resources/logback.xml
Labels: type: docs

#832 Multi-language documentation for Configuring Consumer examples
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/reactive/ProductListener.java
  src/main/docs/guide/kafkaListener/kafkaListenerConfiguration.adoc
  src/main/docs/guide/kafkaListener/kafkaListenerMethods.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ConfigProductListenerTest.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ConsumerGroupIdListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ConsumerGroupListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ConsumerUniqueGroupIdListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ProductClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/config/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/reactive/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/topics/ProductListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/seek/rebalance/ProductClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/seek/rebalance/ProductListener.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ConfigProductListenerTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ConsumerGroupIdListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ConsumerGroupListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ConsumerUniqueGroupIdListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ProductClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/reactive/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/topics/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/fallback/MessageClientFallbackTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/QuickstartTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/seek/rebalance/ProductClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/seek/rebalance/ProductListener.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ConfigProductListenerTest.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ConsumerGroupIdListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ConsumerGroupListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ConsumerUniqueGroupIdListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ProductClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/config/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/reactive/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/topics/ProductListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/seek/rebalance/ProductClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/seek/rebalance/ProductListener.java
Labels: type: docs

#839 Multi-language docs examples for Kafka Streams
  src/main/docs/guide/kafkaStreams.adoc
  src/main/docs/guide/kafkaStreams/kafkaStreamInteractiveQuery.adoc
  test-suite-groovy/build.gradle.kts
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/InteractiveQueryServiceExample.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/KafkaTestInitializer.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/NoOpStreamFactory.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/WordCountClient.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/WordCountListener.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/WordCountStream.groovy
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/streams/WordCountStreamTest.groovy
  test-suite-groovy/src/test/resources/application-test.properties
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/InteractiveQueryServiceExample.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/KafkaTestInitializer.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/NoOpStreamFactory.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/WordCountClient.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/WordCountListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/WordCountStream.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/streams/WordCountStreamTest.kt
  test-suite-kotlin/src/test/resources/application-test.properties
  test-suite/build.gradle.kts
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/InteractiveQueryServiceExample.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/KafkaTestInitializer.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/NoOpStreamFactory.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/WordCountClient.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/WordCountListener.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/WordCountStream.java
  test-suite/src/test/java/io/micronaut/kafka/docs/streams/WordCountStreamTest.java
  test-suite/src/test/resources/application-test.properties
Labels: type: docs

#846 Cleanup docs-examples and builds in test-suite modules
  buildSrc/src/main/groovy/io.micronaut.internal.build.kafka-testsuite.gradle
  gradle/libs.versions.toml
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/batch/Book.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/config/Product.java
  kafka/src/test/groovy/io/micronaut/configuration/kafka/docs/consumer/offsets/rebalance/ProductListener.java
  test-suite-groovy/build.gradle.kts
  test-suite-kotlin/build.gradle.kts
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ConfigProductListenerTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/config/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/reactive/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/SendToProductListenerTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCountListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/sendto/WordCounterTest.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/topics/ProductListener.kt
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/producer/inject/BookSenderTest.kt
  test-suite/build.gradle.kts
Labels: relates-to: build, type: docs

#848 Remove obsolete bean requirement `KafkaHealthIndicator` -> `AdminClient`
  kafka/src/main/java/io/micronaut/configuration/kafka/health/KafkaHealthIndicator.java
Labels: type: bug

#853 make brand and name not nullable
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/quickstart/ProductListener.kt
Labels: type: docs

#852 close class in docs
  src/main/docs/guide/kafkaListener/kafkaListenerBatch.adoc
  test-suite-groovy/src/test/groovy/io/micronaut/kafka/docs/consumer/batch/BookListener.groovy
  test-suite-kotlin/src/test/kotlin/io/micronaut/kafka/docs/consumer/batch/BookListener.kt
  test-suite/src/test/java/io/micronaut/kafka/docs/consumer/batch/BookListener.java
Labels: type: docs

#851 use configuration macro
  src/main/docs/guide/kafkaClient/kafkaClientConfiguration.adoc
  src/main/docs/guide/kafkaListener.adoc
  src/main/docs/guide/kafkaListener/kafkaListenerConfiguration.adoc
  src/main/docs/guide/kafkaQuickStart.adoc
  src/main/docs/guide/kafkaStreams.adoc
  src/main/docs/guide/kafkaStreams/kafkaStreamHealth.adoc
Labels: type: docs
